body {
        background-color: ghostwhite;
        display: flex;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
        width: 100%;
        background-image: url("images/background.jpg");
        background-size: cover; 
        color: white;
}
    .title {
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    }
    .startButton {
        top: 72%;
    }
    .menuElement {
        z-index: 1;
        position:absolute;
        left: 50%; 
        top:50%;
        font-family: 'Schoolbell', arial, serif; 
    }
    canvas{
        background-image: url("images/menu.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }