body {
        display: flex;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
        width: 100%;
        background-image: url("images/background.jpg");
        background-size: cover; 
        color: white;
        background-position: center center;
}
    .title {
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    }
    .startButton {
        top: 72%;
    }
    .menuElement {
        z-index: 1;
        position:absolute;
        left: 50%; 
        top:50%;
        font-family: 'Schoolbell', arial, serif; 
        color:black;
    }
    canvas{
        background-image: url("images/menu.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }
    #start{
        transform: translate(-50%,800%);
    }
    #icLabel{
        transform: translate(-50%,150%);
    }
    #itemCheck{
        transform: translate(-50%,450%);
    }
    #mpLabel{
        transform: translate(-50%,400%);
    }
    #multiPlayer{
        transform: translate(-50%,900%);
    }
    #rules{
        transform: translate(-50%,-90%); 
        width: 400px;
    }